<link rel="stylesheet" href="/css/userInfo.css">


{{> navbar}}

<h1 class="text-center mt-5">Info del proceso</h1>

<div id="userInfo" class="container">
    <table class="table text-center rounded">
        <tr class="row">
            <th scope="col" class="col-6">Nombre</th>
            <th scope="col" class="col-6">Valor</th>
        </tr>

        <tr scope="row" class="row">
            <td class="col-6">Usuario</td>
            <td class="col-6">{{username}}</td>
        </tr>

        <tr scope="row" class="row">
            <td class="col-6">Nombre</td>
            <td class="col-6">{{name}}</td>
        </tr>

        <tr scope="row" class="row">
            <td class="col-6">Fecha de nacimiento</td>
            <td class="col-6">{{birthday}}</td>
        </tr>   

        <tr scope="row" class="row">
            <td class="col-6">Dirección</td>
            <td class="col-6">{{address}}</td>
        </tr>

        <tr scope="row" class="row">
            <td class="col-6">Teléfono</td>
            <td class="col-6">{{phone}}</td>
        </tr>
        
    </table>
</div>
